body {
    margin: 0 0 0 25;
    background-color: #E3E2E2;
    font-size: 3vw;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: none;
}
td {
    text-align: center;
}
#screens{
    display: none;   
}
.button{
    color: blue;
    font-size: 3vw;
    cursor: pointer;
    border: none;
}
.button{
    color: red;
    font-size: 3vw;
    cursor: pointer;
    border: none;
}
