body {
    margin: 0 0 0 25;
    background-color: #E3E2E2;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: none;
}
td {
    text-align: center;
}

@media (min-width: 858px) {
        html {
            font-size: 12px;
        }
    }

    @media (min-width: 780px) {
        html {
            font-size: 11px;
        }
    }

    @media (min-width: 702px) {
        html {
            font-size: 10px;
        }
    }

    @media (min-width: 724px) {
        html {
            font-size: 9px;
        }
    }

    @media (max-width: 623px) {
        html {
            font-size: 8px;
        }
    }
